{% extends "base_layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
Admin-panel - {{ block.super }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-6 offset-3">
            <h2 class="mb-4">Admin panel</h2>
            <h3>Create publisher-user</h3>
            <form method="post">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}

                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Send invite">
            </form>
        </div>
    </div>
</div>
{% endblock %}