{% extends "base_layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
Admin-panel - {{ block.super }}
{% endblock %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col my-4 d-flex justify-content-center">
            <h1>Admin panel</h1>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-6 offset-3">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}

            <div class="accordion text-center" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                Invite user-publisher
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                         data-parent="#accordionExample">
                        <div class="card-body">

                            <form method="post">
                                <h3>Create publisher-user</h3>
                                {% csrf_token %}
                                {{ create_publisher_form|crispy }}
                                <input type="submit" value="Send invite" name="invite_publisher">
                            </form>

                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Assign a publisher company to a user-publisher
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingtwo"
                         data-parent="#accordionExample">
                        <div class="card-body">

                            <form method="post">
                                <h3>Assign a publisher company to a user-publisher</h3>
                                {% csrf_token %}
                                {{ assign_publisher_form|crispy }}
                                <input type="submit" value="Assign" name="assign_company">
                            </form>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock %}