{% extends "base_layout.html" %}

{% block title %}
    Your profile - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-4">
            <div class="col">
                <h1 class="d-flex justify-content-center">Your profile</h1>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-6 offset-3">

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="card text-center">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="{% url 'update_user' %}?next={{ request.path }}">Update your data</a>
                        </li>
                        {% if user.has_usable_password %}
                            <li class="list-group-item">
                                <a href="{% url 'password_change' %}?next={{ request.path }}">Change password</a>
                            </li>
                        {% else %}
                            <li class="list-group-item">
                                <a href="{% url 'account_set_password' %}?next={{ request.path }}">Set password</a>
                            </li>
                        {% endif %}
                        <li class="list-group-item">
                            <a href="{% url 'socialaccount_connections' %}?next={{ request.path }}">Social connections</a>
                        </li>
                        {% if user.profile.get_type_display == 'publisher' and user.profile.publisher_company %}
                            <li class="list-group-item">
                                <a href="{% url 'library_app:create_book' %}?next={{ request.path }}">Add new book</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>

            </div>
        </div>

        {% if user.profile.get_type_display == 'publisher' and user.profile.publisher_company %}
            <div class="row my-4">
                <div class="col-6 offset-3">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <b>Books of your publisher-company:</b>
                        </li>
                        {% for book in books %}
                            <li class="list-group-item">
                                <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
                                <a href="{% url 'library_app:delete_book' slug=book.slug %}?next={{ request.path }}"
                                   class="btn-delete"><i
                                        class="far fa-trash-alt"></i></a>
                            </li>
                        {% empty %}
                            <li class="list-group-item">
                                There are no books from this publisher-company..
                            </li>
                        {% endfor %}
                    </ul>
                    <!-- confirm modal -->
                    <div class="modal fade" id="my-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">Confirm action</div>
                                <div class="modal-body">...</div>
                                <div class="modal-footer">
                                    <a id="bt-modal-cancel" href="#" class="btn btn-default"
                                       data-dismiss="modal">Cancel</a>
                                    <a id="bt-modal-confirm" class="btn btn-danger btn-ok">Delete</a>

                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
                        $(function () {
                            let $myModal = jQuery('#my-modal');

                            // Modal to delete record
                            let $btDelete = jQuery('.btn-delete');
                            if ($btDelete.length) {
                                $btDelete.click(function (e) {
                                    e.preventDefault();

                                    let url = jQuery(this).attr('href');

                                    // Objects from alert modal
                                    let $dsBody = $myModal.find('div.modal-body');
                                    let $dsTitle = $myModal.find('div.modal-header h3');
                                    let $btConfirm = jQuery('#bt-modal-confirm');
                                    let $btCancel = jQuery('#bt-modal-cancel');

                                    $dsBody.html('<p>Are you sure you want to delete this book?</p>');
                                    $dsTitle.html('Delete Record');

                                    $myModal.modal({
                                        show: true
                                    });


                                    $btConfirm.attr('href', url).removeAttr('data-dismiss');
                                    $btCancel.click(function () {
                                        $dsTitle.html('Warning');
                                        $dsBody.html('<p>Notice</p>');
                                        $btConfirm.attr('href', '#').attr('data-dismiss', 'modal');
                                    });
                                });
                            }

                        });
                    </script>

                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}