{% extends "base_layout.html" %}

{% block title %}
Your profile - {{ block.super }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col">
            <h1 class="d-flex justify-content-center">Your profile</h1>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-6 offset-3">

            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}

            <div class="card text-center">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="{% url 'update_user' %}?next={{ request.path }}">Update your data</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'password_change' %}?next={{ request.path }}">Change password</a>
                    </li>
                    {% if user.profile.type == 2 and user.profile.publisher_company %}
                    <li class="list-group-item">
                        <a href="{% url 'library_app:create_book' %}?next={{ request.path }}">Add new book</a>
                    </li>
                    {% endif %}
                </ul>
            </div>

        </div>
    </div>
</div>
{% endblock %}