{% extends "base_layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
Sign up - {{ block.super }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-6 offset-3">
            {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %}
            {% endif %}

            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Sign up">
            </form>
            <legend>Already have an account? <a href="{% url 'login'%}">Log in</a></legend>
        </div>
    </div>
</div>
{% endblock %}