{% extends 'base_layout.html' %}

{% block title %}
"{{ book.title }}" detail - {{ block.super }}
{% endblock %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col">
            <div class="my-4 text-center">
                <p class="h1">{{ book.title }}</p>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-3 offset-3">
            <div class="text-center">
                <img src="https://img.yakaboo.ua/media/catalog/product/cache/1/image/398x565/234c7c011ba026e66d29567e1be1d1f7/5/6/56_2_10.jpg"
                     class="rounded float-left img-fluid mr-4" alt="Book photo" style="max-height: 450px">
            </div>
        </div>

        <div class="col-3">

            <div class="product-attributes">
                <table class="product-attributes__table">
                    <tr>
                        <td>
                            <div>
                                <div>Authors:</div>
                            </div>
                        </td>
                        <td>
                            {% for author in book.authors.all %}
                            <a href="{{ author.get_absolute_url }}">{{ author.pseudonym }}</a>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <div>Publisher company:</div>
                            </div>
                        </td>
                        <td>
                            {{ book.publisher_company }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <div>Genres:</div>
                            </div>
                        </td>
                        <td>
                            {{ book.genres.all|join:", " }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <div>Year made:</div>
                            </div>
                        </td>
                        <td>{{ book.year_made }}</td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <div>Page count:</div>
                            </div>
                        </td>
                        <td>{{ book.page_count }}</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>

</div>
{% endblock %}