{% extends 'library_app/base_layout.html' %}
{% load static %}
{% load ratings %}

{% block title %}
Book list - {{ block.super }}
{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center mt-4">

            <p>
                <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseFilter"
                        aria-expanded="false" aria-controls="collapseFilter">
                    Filter/Order books
                </button>
            </p>

            <div class="collapse" id="collapseFilter">
                <form method="get">
                    {{ filterset.form.as_p }}
                    <input type="submit" value="Filter">
                </form>
            </div>

            <div class="collapse" id="collapseSort">
                Sorting
            </div>

        </div>
    </div>

    <div class="row justify-content-center">
        {% for book in books %}
        <div class="col-4 mt-4">
            <div class="card text-center h-100" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Year made: {{ book.year_made }}</li>
                    <li class="list-group-item">
                        Authors:
                        {% for author in book.authors.all %}
                        <a href="{% url 'library_app:author-detail' author.slug %}">{{ author.pseudonym }}</a>
                        {% endfor %}
                    </li>
                    <li class="list-group-item">Genres: {{ book.genres.all|slice:":3"|join:", " }}</li>
                </ul>
                <div class="card-body">
                    <a href="{% url 'library_app:book-detail' book.slug %}" class="card-link">Detail info</a>
                </div>
                {% ratings book %}
            </div>
        </div>
        {% empty %}
        <p>There are no books</p>
        {% endfor %}

    </div>
</div>
{% endblock %}